@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-principal: #ffffff;
  --foreground: #171717;
  --negro: #000000;
  --azul-oscuro: #11295B;
  --naranja: #FCA311;
  --naranjaOscuro: rgb(196, 127, 16);
  --naranja-46: rgba(252, 163, 17, 0.46);
  --hueso: #E4D5C1;
  --blanco: #FFFFFF;
  --rojo: #F85959;
  --verde: #219653;
  --azul-opaco: rgba(17, 41, 91, 0.5);
  --fuente-principal: 'Inter', sans-serif;
  --tamaña-bold: bold;
  --tamaño-regular: 500;
  --tamaño-black: 900;
  --sombra: 0px 4px 3px rgba(1, 0, 0, 0.165);
  --H1: 2.488rem;
  --H2: 2.074rem;
  --H3: 1.728rem;
  --H4: 1.44rem;
  --H5: 1.2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ocultar scroll horizontal */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.leaflet-tooltip.tooltip-auto-precio {
  z-index: 400; /* ⬅️ más bajo que el marcador principal */
}